<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iPhone</key>
	<dict>
		<key>subheadingArr</key>
		<array>
			<dict>
				<key>subheadingKey</key>
				<string>3G5oUM</string>
				<key>subheadingName</key>
				<string>iPhone5S</string>
				<key>subheadingImg</key>
				<string>Afghanistan.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>4ACxed</string>
				<key>subheadingName</key>
				<string>iPad</string>
				<key>subheadingImg</key>
				<string>Bangladesh.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>9ksdit</string>
				<key>subheadingName</key>
				<string>iPhone客户端</string>
				<key>subheadingImg</key>
				<string>Bhutan.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>6I573k</string>
				<key>subheadingName</key>
				<string>OS X</string>
				<key>subheadingImg</key>
				<string>India.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>1lzosq</string>
				<key>subheadingName</key>
				<string>乔布斯的iPhone6</string>
				<key>subheadingImg</key>
				<string>Maldives.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>3o33sO</string>
				<key>subheadingName</key>
				<string>iPhone 6</string>
				<key>subheadingImg</key>
				<string>Maldives.png</string>
			</dict>
		</array>
	</dict>
	<key>三星</key>
	<dict>
		<key>subheadingArr</key>
		<array>
			<dict>
				<key>subheadingKey</key>
				<string>173r1J</string>
				<key>subheadingName</key>
				<string>Samsung Note Ⅲ</string>
				<key>subheadingImg</key>
				<string>Armenia.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>yrOPq</string>
				<key>subheadingName</key>
				<string>GALAXY S5</string>
				<key>subheadingImg</key>
				<string>Azerbaijan.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>6G7MnG</string>
				<key>subheadingName</key>
				<string>三星GALAXY S4</string>
				<key>subheadingImg</key>
				<string>Bahrain.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>3DdoFH</string>
				<key>subheadingName</key>
				<string>中国移动-三星NoteⅡ</string>
				<key>subheadingImg</key>
				<string>Georgia.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>5k9wyH</string>
				<key>subheadingName</key>
				<string>三星GALAXY S4 zoom</string>
				<key>subheadingImg</key>
				<string>Iran.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>4swE93 </string>
				<key>subheadingName</key>
				<string>三星android智能手机</string>
				<key>subheadingImg</key>
				<string>Iraq.png</string>
			</dict>
		</array>
	</dict>
	<key>小米</key>
	<dict>
		<key>subheadingArr</key>
		<array>
			<dict>
				<key>subheadingKey</key>
				<string>4Vdgl4</string>
				<key>subheadingName</key>
				<string>小米手机4</string>
				<key>subheadingImg</key>
				<string>Brunei.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>5gA59F</string>
				<key>subheadingName</key>
				<string>小米手机3</string>
				<key>subheadingImg</key>
				<string>Myanmar.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>6Df7i5</string>
				<key>subheadingName</key>
				<string>小米手机2S</string>
				<key>subheadingImg</key>
				<string>Cambodia.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>4BB1vC</string>
				<key>subheadingName</key>
				<string>小米手机2A</string>
				<key>subheadingImg</key>
				<string>East_Timor.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>6tbQhM</string>
				<key>subheadingName</key>
				<string>小米手机2</string>
				<key>subheadingImg</key>
				<string>Indonesia.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>NzVRe</string>
				<key>subheadingName</key>
				<string>小米手机1S</string>
				<key>subheadingImg</key>
				<string>Laos.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>1J95c3</string>
				<key>subheadingName</key>
				<string>红米手机</string>
				<key>subheadingImg</key>
				<string>Malaysia.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>6m9HHd</string>
				<key>subheadingName</key>
				<string>MIUI米柚</string>
				<key>subheadingImg</key>
				<string>Malaysia.png</string>
			</dict>
		</array>
	</dict>
	<key>华为</key>
	<dict>
		<key>subheadingArr</key>
		<array>
			<dict>
				<key>subheadingKey</key>
				<string>5Aau9j</string>
				<key>subheadingName</key>
				<string>荣耀6</string>
				<key>subheadingImg</key>
				<string>China.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>1KucM4</string>
				<key>subheadingName</key>
				<string>荣耀3C</string>
				<key>subheadingImg</key>
				<string>Hong_Kong.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>158TxN</string>
				<key>subheadingName</key>
				<string>荣耀3X畅玩版</string>
				<key>subheadingImg</key>
				<string>Japan.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>4eF4vz</string>
				<key>subheadingName</key>
				<string>华为Ascend P7</string>
				<key>subheadingImg</key>
				<string>North_Korea.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>17cJCl</string>
				<key>subheadingName</key>
				<string>荣耀X1</string>
				<key>subheadingImg</key>
				<string>South_Korea.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>6SFgyO</string>
				<key>subheadingName</key>
				<string>华为Ascend手机</string>
				<key>subheadingImg</key>
				<string>Macau.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>415Eav</string>
				<key>subheadingName</key>
				<string>华为Ascend D1</string>
				<key>subheadingImg</key>
				<string>Mongolia.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>6onWlQ</string>
				<key>subheadingName</key>
				<string>华为Ascend Mate2</string>
				<key>subheadingImg</key>
				<string>Republic_of_China.png</string>
			</dict>
		</array>
	</dict>
	<key>HTC</key>
	<dict>
		<key>subheadingArr</key>
		<array>
			<dict>
				<key>subheadingKey</key>
				<string>5gETFb</string>
				<key>subheadingName</key>
				<string>New HTC One</string>
				<key>subheadingImg</key>
				<string>Kazakhstan.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>4Vb1UD</string>
				<key>subheadingName</key>
				<string>HTC新渴望8系</string>
				<key>subheadingImg</key>
				<string>Kyrgyzstan.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>6pogY0</string>
				<key>subheadingName</key>
				<string>HTC One (M8)</string>
				<key>subheadingImg</key>
				<string>Tajikistan.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>2U473P</string>
				<key>subheadingName</key>
				<string>HTC One max</string>
				<key>subheadingImg</key>
				<string>Turkmenistan.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>2t1P0V</string>
				<key>subheadingName</key>
				<string>HTC One X</string>
				<key>subheadingImg</key>
				<string>Uzbekistan.png</string>
			</dict>
		</array>
	</dict>
	<key>酷派</key>
	<dict>
		<key>subheadingArr</key>
		<array>
			<dict>
				<key>subheadingKey</key>
				<string>3b7vIC</string>
				<key>subheadingName</key>
				<string>酷派大神</string>
				<key>subheadingImg</key>
				<string>Russia.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>1z9slV</string>
				<key>subheadingName</key>
				<string>酷派双棒手机</string>
				<key>subheadingImg</key>
				<string>Russia.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>5ibakb</string>
				<key>subheadingName</key>
				<string>酷派 S6</string>
				<key>subheadingImg</key>
				<string>Russia.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>59zK0W</string>
				<key>subheadingName</key>
				<string>酷派手机</string>
				<key>subheadingImg</key>
				<string>Russia.png</string>
			</dict>
		</array>
	</dict>
	<key>努比亚</key>
	<dict>
		<key>subheadingArr</key>
		<array>
			<dict>
				<key>subheadingKey</key>
				<string>395gi</string>
				<key>subheadingName</key>
				<string>nubia Z5S mini</string>
				<key>subheadingImg</key>
				<string>Russia.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>2SpwdU</string>
				<key>subheadingName</key>
				<string>nubia Z5S</string>
				<key>subheadingImg</key>
				<string>Russia.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>1cfqZ6</string>
				<key>subheadingName</key>
				<string>nubia Z7 Max</string>
				<key>subheadingImg</key>
				<string>Russia.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>18tXtd</string>
				<key>subheadingName</key>
				<string>nubia X6</string>
				<key>subheadingImg</key>
				<string>Russia.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>6i1N38</string>
				<key>subheadingName</key>
				<string>nubia Z7 mini</string>
				<key>subheadingImg</key>
				<string>Russia.png</string>
			</dict>
		</array>
	</dict>
	<key>诺基亚</key>
	<dict>
		<key>subheadingArr</key>
		<array>
			<dict>
				<key>subheadingKey</key>
				<string>5ka3Zi</string>
				<key>subheadingName</key>
				<string>Nokia</string>
				<key>subheadingImg</key>
				<string>Russia.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>elENv</string>
				<key>subheadingName</key>
				<string>诺基亚Lumia1520</string>
				<key>subheadingImg</key>
				<string>Russia.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>1NnhMv</string>
				<key>subheadingName</key>
				<string>诺基亚Lumia920</string>
				<key>subheadingImg</key>
				<string>Russia.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>1m2gTF</string>
				<key>subheadingName</key>
				<string>诺基亚Lumia1020</string>
				<key>subheadingImg</key>
				<string>Russia.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>1uxav0</string>
				<key>subheadingName</key>
				<string>中国移动Nokia920T</string>
				<key>subheadingImg</key>
				<string>Russia.png</string>
			</dict>
		</array>
	</dict>
	<key>OPPO</key>
	<dict>
		<key>subheadingArr</key>
		<array>
			<dict>
				<key>subheadingKey</key>
				<string>Mz6EX</string>
				<key>subheadingName</key>
				<string>OPPO N1</string>
				<key>subheadingImg</key>
				<string>Russia.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>13mmrA</string>
				<key>subheadingName</key>
				<string>OPPO智能手机</string>
				<key>subheadingImg</key>
				<string>Russia.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>4SiHrx</string>
				<key>subheadingName</key>
				<string>OPPO Find 7</string>
				<key>subheadingImg</key>
				<string>Russia.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>2ZjEsg</string>
				<key>subheadingName</key>
				<string>OPPO N1 mini</string>
				<key>subheadingImg</key>
				<string>Russia.png</string>
			</dict>
		</array>
	</dict>
	<key>联想</key>
	<dict>
		<key>subheadingArr</key>
		<array>
			<dict>
				<key>subheadingKey</key>
				<string>2RtWjy</string>
				<key>subheadingName</key>
				<string>联想乐Phone_K860</string>
				<key>subheadingImg</key>
				<string>Russia.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>61AYBB</string>
				<key>subheadingName</key>
				<string>联想VIBE Z•天龙八部</string>
				<key>subheadingImg</key>
				<string>Russia.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>3Rozts</string>
				<key>subheadingName</key>
				<string>联想VIBE X·万有引力</string>
				<key>subheadingImg</key>
				<string>Russia.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>31gQ7B</string>
				<key>subheadingName</key>
				<string>联想智能手机</string>
				<key>subheadingImg</key>
				<string>Russia.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>6c7ekz</string>
				<key>subheadingName</key>
				<string>联想黄金斗士A8</string>
				<key>subheadingImg</key>
				<string>Russia.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>Ruz6H</string>
				<key>subheadingName</key>
				<string>联想黄金斗士S8</string>
				<key>subheadingImg</key>
				<string>Russia.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>57FKuX</string>
				<key>subheadingName</key>
				<string>联想K900·惊艳全场</string>
				<key>subheadingImg</key>
				<string>Russia.png</string>
			</dict>
		</array>
	</dict>
	<key>索尼</key>
	<dict>
		<key>subheadingArr</key>
		<array>
			<dict>
				<key>subheadingKey</key>
				<string>QzHlU</string>
				<key>subheadingName</key>
				<string>索尼Xperia Z L36h</string>
				<key>subheadingImg</key>
				<string>Russia.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>3v0fuX</string>
				<key>subheadingName</key>
				<string>索尼Xperia Z2 4G LTE</string>
				<key>subheadingImg</key>
				<string>Russia.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>A173V</string>
				<key>subheadingName</key>
				<string>索尼Xperia Z2</string>
				<key>subheadingImg</key>
				<string>Russia.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>40wvEZ</string>
				<key>subheadingName</key>
				<string>索尼Xperia Z1</string>
				<key>subheadingImg</key>
				<string>Russia.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>1AiPnT</string>
				<key>subheadingName</key>
				<string>索尼Xperia Z Ultra</string>
				<key>subheadingImg</key>
				<string>Russia.png</string>
			</dict>
		</array>
	</dict>
	<key>vivo</key>
	<dict>
		<key>subheadingArr</key>
		<array>
			<dict>
				<key>subheadingKey</key>
				<string>Unkpp</string>
				<key>subheadingName</key>
				<string>vivo_Xshot</string>
				<key>subheadingImg</key>
				<string>Russia.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>5YqrI8</string>
				<key>subheadingName</key>
				<string>vivo智能手机客户端</string>
				<key>subheadingImg</key>
				<string>Russia.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>3fcy9U</string>
				<key>subheadingName</key>
				<string>vivo Xplay3S</string>
				<key>subheadingImg</key>
				<string>Russia.png</string>
			</dict>
			<dict>
				<key>subheadingKey</key>
				<string>2o92Kh</string>
				<key>subheadingName</key>
				<string>vivo_Xplay</string>
				<key>subheadingImg</key>
				<string>Russia.png</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
