<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>appName</key>
		<string>音乐人</string>
		<key>appKey</key>
		<string>872034675</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>求包养</string>
		<key>appKey</key>
		<string>558800757</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>音悦台</string>
		<key>appKey</key>
		<string>2817290261</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>图钉</string>
		<key>appKey</key>
		<string>3273329120</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>今日头条</string>
		<key>appKey</key>
		<string>2504490989</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>快手</string>
		<key>appKey</key>
		<string>2459267064</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>啪啪</string>
		<key>appKey</key>
		<string>2411451248</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>百思不得姐</string>
		<key>appKey</key>
		<string>4130757738</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>互粉加加</string>
		<key>appKey</key>
		<string>245891426</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>算算你有什么病</string>
		<key>appKey</key>
		<string>2171734865</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>poco美人相机</string>
		<key>appKey</key>
		<string>2059939591</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>英语流利说</string>
		<key>appKey</key>
		<string>4254593945</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>各种求</string>
		<key>appKey</key>
		<string>201798847</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>爱唱</string>
		<key>appKey</key>
		<string>569976708</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>么么答</string>
		<key>appKey</key>
		<string>1233389535</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>iDaily每日环球视野</string>
		<key>appKey</key>
		<string>2496926836</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>进击的小怪物</string>
		<key>appKey</key>
		<string>876702860</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>不得姐的秘密</string>
		<key>appKey</key>
		<string>2466929154</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>K歌达人</string>
		<key>appKey</key>
		<string>410823184</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>美妆魔镜</string>
		<key>appKey</key>
		<string>3167556228</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>死后你魂归何处</string>
		<key>appKey</key>
		<string>2095989214</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>铁血战神</string>
		<key>appKey</key>
		<string>1855410080</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>战地红警</string>
		<key>appKey</key>
		<string>3538443821</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>八卦神器</string>
		<key>appKey</key>
		<string>2620413205</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>心灵感应</string>
		<key>appKey</key>
		<string>203798408</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>英雄联盟控</string>
		<key>appKey</key>
		<string>250109199</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>安琪娃娃</string>
		<key>appKey</key>
		<string>268111628</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>求认识</string>
		<key>appKey</key>
		<string>260877920</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>咖啡达人</string>
		<key>appKey</key>
		<string>2004541710</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>羡慕嫉妒恨</string>
		<key>appKey</key>
		<string>833370875</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>型男型女</string>
		<key>appKey</key>
		<string>1866399205</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>求飞礼</string>
		<key>appKey</key>
		<string>3208525038</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>中国最强音</string>
		<key>appKey</key>
		<string>1951376594</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>百搭女王</string>
		<key>appKey</key>
		<string>40958265</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>中国好机友</string>
		<key>appKey</key>
		<string>1423534338</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>头条娱乐</string>
		<key>appKey</key>
		<string>20638776</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>我们都缺爱</string>
		<key>appKey</key>
		<string>1674466466</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>海贼王悬赏令</string>
		<key>appKey</key>
		<string>3625377187</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>手残大联盟</string>
		<key>appKey</key>
		<string>3169999910</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>牛仔小当家</string>
		<key>appKey</key>
		<string>401832386</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>真心话大冒险游戏</string>
		<key>appKey</key>
		<string>465447141</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>我很有钱</string>
		<key>appKey</key>
		<string>1709884451</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>安徒生童话</string>
		<key>appKey</key>
		<string>3357967757</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>叽叽</string>
		<key>appKey</key>
		<string>1244551505</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>蛋与藤</string>
		<key>appKey</key>
		<string>2994485508</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>免费全球通</string>
		<key>appKey</key>
		<string>3760925155</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>宅男的鼻血女神</string>
		<key>appKey</key>
		<string>3872943594</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>大追捕微博追缉令</string>
		<key>appKey</key>
		<string>1255148641</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>二战指挥官</string>
		<key>appKey</key>
		<string>1611911618</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>更懂你的好友</string>
		<key>appKey</key>
		<string>3929725829</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>魔神杀手</string>
		<key>appKey</key>
		<string>3118040655</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>表白神器</string>
		<key>appKey</key>
		<string>2250562120</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>爱显摆</string>
		<key>appKey</key>
		<string>1249921532</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>缺乏安全感的人</string>
		<key>appKey</key>
		<string>796420903</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>合体帝国</string>
		<key>appKey</key>
		<string>3308067653</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>最原创</string>
		<key>appKey</key>
		<string>2777870021</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>德玛西亚曰报</string>
		<key>appKey</key>
		<string>2465815079</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>屌丝乐园</string>
		<key>appKey</key>
		<string>960438079</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>屌丝定制</string>
		<key>appKey</key>
		<string>3340858661</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>不当小三</string>
		<key>appKey</key>
		<string>567221429</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>天籁佳音</string>
		<key>appKey</key>
		<string>391573803</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>天下奇闻</string>
		<key>appKey</key>
		<string>2734900784</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>一路娶精</string>
		<key>appKey</key>
		<string>836147955</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>盗墓达人</string>
		<key>appKey</key>
		<string>4163791587</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>今日潮人</string>
		<key>appKey</key>
		<string>2992654889</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>风流天子</string>
		<key>appKey</key>
		<string>1243507580</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>悬赏通缉令</string>
		<key>appKey</key>
		<string>1771069569</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>性冲动</string>
		<key>appKey</key>
		<string>2708593418</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>围脖时报</string>
		<key>appKey</key>
		<string>296661278</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>未来新闻</string>
		<key>appKey</key>
		<string>4095229981</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>Dota2伴侣</string>
		<key>appKey</key>
		<string>3177692413</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>宅男经典语录</string>
		<key>appKey</key>
		<string>4010200311</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>李毅粉丝团</string>
		<key>appKey</key>
		<string>3314022057</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>菊花笑典</string>
		<key>appKey</key>
		<string>2146780661</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>炫彩魔影</string>
		<key>appKey</key>
		<string>427779460</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>小霸王学习机客户端</string>
		<key>appKey</key>
		<string>4134821074</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>土豪专属</string>
		<key>appKey</key>
		<string>3365116125</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>高富帅专属</string>
		<key>appKey</key>
		<string>293767697</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>疯狂的声音</string>
		<key>appKey</key>
		<string>867805224</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>白富美专属</string>
		<key>appKey</key>
		<string>574177031</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>最强大的分手神器</string>
		<key>appKey</key>
		<string>322967371</string>
	</dict>
</array>
</plist>
